{% extends "base.html" %}

{% block script %}
{% endblock %}
{% block menu_script %}
$(function(){
    $("ul#menu li a:eq(1)").parent().addClass("active")
});
{% endblock %}
{% block main %}
<div class="panel panel-info">
<div class="panel-heading">域名列表
    <a href="/edit/host" class="btn btn-xs btn-info right">添加域名</a>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>域名</th>
      <th>创建者</th>
      <th>描述</th>
      <th style="width:100px">操作</th>
    </tr>
  </thead>
  <tbody>
  {% for d in data.host%}
    <tr>
      <td>{{d.host}}</td>
      <td>{{d.user}}</td>
      <td>{{d.description}}</td>
      <td>
        <a class="btn btn-primary btn-xs" href="/edit/host?id={{d.id}}">编辑</a>
        <a class="btn btn-danger btn-xs" onclick="confirm_option('/data_mgr/delete/host?id={{d.id}}')" href="#Dialog" data-toggle="modal">
          删除
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
